#container {
  display: flex;
  flex-direction: column;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-refresher {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  height: 240px;
  width: 100%;
}
.min,
.max {
  width: 100%;
  display: block;
}
.min {
  background: #ddd;
  height: 140px;
}
.max {
  background: #f00;
  color: #fff;
  height: 60px;
  border-bottom: 10px solid #000;
}
